        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            color: #333;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
            color: #555;
        }

        form {
            max-width: 600px;
            margin: 20px auto;
            background: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border: 1px solid #ddd;
        }

        label {
            display: inline-block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #555;
        }

        input[type="text"],
        select,
        input[type="date"],
        input[type="number"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 14px;
        }

        input[type="checkbox"] {
            margin-right: 10px;
        }

        input[type="submit"] {
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            font-size: 16px;
            cursor: pointer;
            text-transform: uppercase;
            transition: background-color 0.3s;
            width: 100%;
            background-image: linear-gradient(90deg,#0038c6,#2467fa);
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
            background-image: linear-gradient(90deg,#1e8f35,#44cb5e)
        }

        input[type="submit"]:focus {
            outline: none;
            box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
        }

        form > * {
            width: 100%;
            box-sizing: border-box;
        }

        form br {
            margin-bottom: 10px;
        }

        .checkbox-group {
            display: inline-block;
            margin-bottom: 15px;
        }

        .select-group {
            display: flex;
            align-items: center;
            gap: 10px;
        }