body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    width: 100%;
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header .logo img {
    height: 40px;
    width: auto;
}

header nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin: 0 20px;
}

header nav a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

header nav a:hover {
    background-color: #0077b5;
    color: white;
}

@media (max-width: 768px) {
    header nav {
        flex-direction: column;
        align-items: center;
    }

    header nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    header nav ul li {
        margin: 10px 0;
    }

    header .logo img {
        height: 30px;
    }
}

header ul li.active a {
    background-color: #007BFF; /* Blauw voor actieve link */
    color: white; /* Tekst wit maken */
}

