<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Export Vragen</title>
</head>
<body>
  <form method="POST">
    <label>Met taxonomie:</label>
    <input type="checkbox" name="has_tax">
    <br>
    <label>Tussen datum:</label>
    <input type="checkbox" name="between_date">
    <br>
    <label >Start datum:</label>
    <input type="date" name="start_date" value="2024-11-26" />
    <br>
    <label >Eind datum:</label>
    <input type="date" name="end_date" value="2024-11-28" />
    <br>
    <label >Export optie:</label>
    <select name="export_option">
      <option value="0" selected >browser</option>
      <option value="1" >download</option>
    </select>
    <br>
    <label>Markeer 'exported':</label>
    <input type="checkbox" name="exported">
    <br>
    <label>Selecteer exporttype:</label>
    <select name="export_status_type">
      <option value="0" selected >beide</option>
      <option value="1" >vragen die nog niet gexporteert zijn</option>
      <option value="2" >vragen die al wel gexporteert zijn</option>
    </select>
    <br>
    <label >Limiet (aantal vragen):</label>
    <input type="number" name="limit" value="10" />
    <br>
    <input type="submit" value="Export JSON">
  </form>
</body>
</html>