<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Export Vragen</title>
</head>
<body>
<!--  <h3>Export lijst JSON</h3>-->
<!--    <button><a href="/export_vragen_json/browser">Bekijk JSON</a></button>-->
<!--    <button><a href="/export_vragen_json/download">Download JSON</a></button>-->
<!--  <br>-->
  <form method="POST">
    <label>Met taxonomie:</label>
    <input type="checkbox" name="has_tax">
    <br>
    <label>Tussen datum:</label>
    <input type="checkbox" name="between_date">
    <br>
    <label >Start datum:</label>
    <input type="date" name="start_date" value="2024-11-26" />
    <br>
    <label >Eind datum:</label>
    <input type="date" name="end_date" value="2024-11-28" />
    <br>
    <label >Export optie:</label>
    <select name="export_option">
      <option value="0" selected >browser</option>
      <option value="1" >download</option>
    </select>
    <br>
    <label>Markeer 'exported':</label>
    <input type="checkbox" name="exported">
    <br>
    <input type="submit" value="Export JSON">
  </form>
</body>
</html>