<link rel="stylesheet" href="{{ url_for('static', filename='style_header.css') }}">
<header>
    <nav>
        <div class="logo">
            <img src="/static/logo.png" alt="Logo" />
        </div>
        <ul>
            <li class="{% if request.endpoint == 'list_user' %}active{% endif %}">
                <a href="{{ url_for('list_user') }}">Redacteuren Overzicht</a>
            </li>
            <li class="{% if request.endpoint == 'export_vragen' %}active{% endif %}">
                <a href="{{ url_for('export_vragen') }}">Export Vragen</a>
            </li>
            <li class="{% if request.endpoint == 'toetsvragenScherm' %}active{% endif %}">
                <a href="{{ url_for('toetsvragenScherm') }}">Toetsvragen Lijst</a>
            </li>
            <li class="{% if request.endpoint == 'prompt_verwijderen' %}active{% endif %}">
                <a href="{{ url_for('prompt_verwijderen') }}">Prompt Verwijderen</a>
            </li>
        </ul>
    </nav>
</header>
