<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Toetsvragen</title>
</head>
<body>
    <table>
  <tr>
    <th>Prompt</th>
      <th>Redacteur</th>
      <th>Toetsvragen ingedeeld</th>
      <th>Correct</th>
      <th>Acties</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
      <td>Maria Anders</td>
      <td>Maria Anders</td><td>Maria Anders</td>
      <td>Maria Anders</td>

  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
      <td>Maria Anders</td>
      <td>Maria Anders</td>
      <td>Maria Anders</td>
  </tr>
</table>
</body>
</html>